.imr(){display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden(){display:none;visibility:hidden}
.clear(){clear:both;display:block}
.clearfix{width:100%;height:0;border:0;margin:0;clear:both;display:block}
.nomrg(){margin:0}
.nopdn(){padding:0}
.nobrdr(){border:0}
.ln(){width:100%;display:inline-block}
.mauto(){margin:0 auto}

//background
.bg(@background){background:@background;}
.bgc(@x){background-color:@x}
.bgp(@x){background-position:@x}
.hover_padrao(@color:#fff){color:@color;}

//boxmodel
.w(@width){width:@width;}
.h(@height){height:@height;}
.br(@x){border-right:@x;}
.m(@t:0,@r:0,@b:0,@l:0){margin:@arguments;}
.pd(@pt:0,@pr:0,@pb:0,@pl:0){padding:@arguments;}

//fonts & text
.fs(@x){font-size:@x;}
.c(@color){color:@color;}
.f700(){font-weight:700}
.ls(@x){letter-spacing:@x}
.lh(@x){line-height:@x}
.taligncenter(){text-align:center}

//floats
.fl(){float:left;}
.fr(){float:right;}

//display
.dnone(){display:none;}
.dblock(){display:block}
.inlineblock(){display:inline-block;.w(100%);.m(0,0,-3px,0);}

//position
.relative(){position:relative;}
.absolute(){position:absolute;}
.b(@x){bottom:@x}
.r(@x){right:@x}
.l(@x){left:@x}
.t(@x){top:@x}
.zi(@x){z-index:@x}